.mainBlock {
    padding-top: 50px;
}
.form {
    height: 250px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item {
    max-width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}