.mainBlock {
    padding-top: 50px;

}
.heading{
    padding-bottom: 20px;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 20px;
}
.form {
    height: 50px;
    font-family: 'Comfortaa', cursive;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.text {
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
}