.textContainer {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.img img{
    height: 400px;
    width: 900px;
}

.text {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    font-weight: 800;
    font-size: 40px;
}