.App {
  text-align: center;

}

.header{

  display: flex;
  justify-content: space-evenly;
  height: 50px;
}

.item a{
  color: black;
  margin-top: 10px;
  display: flex;
  text-decoration: none;
}

